* {
    border 1px solid red;
    font-family: Tahoma, sans-serif, 'Times New Roman', Times, serif;
    color: #077fb3;
}

p {
    font-size: 16px;
}

.topnav {
     float: right;
     padding-top: 10px;
}

.topnav a {
    display: inline;
    padding: 14px 16px;
}

img {
    width: 80px;
    height: auto;
}

.name {
    font-size: 20px;
}

.menu {
    padding-left: 10px;
    padding-top: 10px;
}

body {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    border-left: 2px solid #077fb3;
    border-right: 2px solid #077fb3;
    box-shadow: -10px 0px 20px #077fb3, 10px 0px 20px #077fb3;
}

section {
    padding: 10px 50px 10px 50px;
}

h1, h2 {
    padding: 5px;
    font-weight: 100px;
    font-size: 28px;
    text-align: left;
    background-color: #fafafa;
    box-shadow: -3px 6px 3px #077fb3;
    border-left: 1px solid #077fb3;
    border-bottom: 1px solid #077fb3;
    display: block;
}

li {
/*     display: inline; */
    list-style-type: none;
}

ul { 
    margin-top: 5px;
    padding-left: 0px;
}

.skillsList li {
    display: inline;
    background-color: white;
    font-size: 18px;
    margin-right: 20px;
    padding: 2px;
    border: 2px solid #077fb3;
    box-shadow: -2px 3px 3px #077fb3;
}

.experienceList{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
}

.experienceList li {
    font-size: 16px;
    padding: 20px 10px 20px 10px;
    background-color: #fafafa;
    border: 1px solid #077fb3;
    margin-bottom: 10px;
}

.jobDate {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -18px;
    
}

button {
    background-color: #b456fc;
    color: black;
    padding: 15px 32px;
    font-size: 16px;

}

label {
   font-size: 16px;
   color: black; 
}

input {
    width: 100%;
    padding: 12px 20px;
    margin:8px 0;
    box-sizing: border-box;
    color: black;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

footer {
    background-color: aqua;
    padding: 8px;
}

.thisForm {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
}

@media only screen and (max-width: 600px) {
    .experiencePara, .aboutPara, .aboutHead, .experienceHead {
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px 0px 0px 0px;
    }
}